@model proyecto.Cine.Logica.Modelo.Pelicula
@{
    ViewBag.Title = "AgregarPelicula";
    Layout = "~/Views/Shared/_LayoutAdministrar.cshtml";
}

<h2>AgregarPelicula</h2>
<div class="row">
    <form action="/Pelicula/AgregarPelicula" class="col s12" method="Post">
        <fieldset>

            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(x => x.Nombre) @Html.TextBoxFor(x => x.Nombre)
                        @Html.ValidationMessageFor(x => x.Nombre)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(x => x.Duracion) @Html.TextBoxFor(x => x.Duracion)
                        @Html.ValidationMessageFor(x => x.Direccion)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(x => x.PrecioGeneral) @Html.TextBoxFor(x => x.PrecioGeneral)
                        @Html.ValidationMessageFor(x => x.PrecioGeneral)
                    </div>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Agregar Pelicula
                <i class="material-icons right">send</i>
            </button>
        </fieldset>

    </form>

</div>

