@model IEnumerable<proyecto.Cine.Logica.Modelo.Pelicula>
@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_LayoutAdministrar.cshtml";
}

@functions{
    string obtenerImagen(String imagenString)
    {
        int indice = imagenString.IndexOf("\\UploadFiles\\");
        int max = imagenString.Length - indice;
        return imagenString.Substring(indice, max);
    }
}

<h2>Peliculas</h2>

</span>
<a href="/Peliculas/AgregarPelicula" class="waves-effect waves-light btn blue darken-2"><i class="material-icons right">add</i>Nueva Pelicula</a>



<table class="highlight">
<tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Calificación</th>
    <th>Duración</th>  
    <th>Genero</th>
    <th>Fecha de carga</th>
</tr>
@foreach (var p in Model)
    {
    <tr>
        <td>
            @p.Nombre
        </td>
        <td>
            @p.Descripcion
        </td>
        <td>
            @p.Calificacione.Nombre
        </td>
        <td>
            @p.Duracion
        </td>
        <td>
            @p.Genero.Nombre
        </td>
        <td>
            @p.FechaCarga
        </td>
        <td>
            @Html.ActionLink("Editar", "editar", new { id = p.IdPelicula })
        </td>
    </tr>
}