@model proyecto.cineMVC.Models.UsuarioModel
@{
    ViewBag.Title = "login";

    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="row">
    <h5 class="center-align">Para poder ingresar debe iniciar sesion</h5>
</div>

<div class="row">
    <span>
        @if (TempData["Mensaje"] != "")
        {
            @TempData["Mensaje"];
        }

    </span>
</div>

<div class="row">
    <form action="/Usuario/login" class="col s12 m6 offset-m3" method="Post">
            <div class="row">
                <div class="row">
                    <div class="input-field">
                        <label for="NombreUsuario">Nombre de usuario</label> @Html.TextBoxFor(x => x.NombreUsuario)
                        @Html.ValidationMessageFor(x => x.NombreUsuario)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field">
                        @Html.LabelFor(x => x.Password) @Html.PasswordFor(x => x.Password)
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 offset-m4">
                    <button class="btn waves-effect waves-light green darken-2" type="submit">
                        Iniciar Sesion
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
    </form>

 </div>

