@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    List<proyecto.Cine.Logica.Modelo.Pelicula> peliculas = ViewBag.peliculas;
}

@functions{
    string obtenerImagen(String imagenString)
    {
        int indice = imagenString.IndexOf("\\UploadFiles\\");
        int max = imagenString.Length - indice;
        return imagenString.Substring(indice, max);
    }
}

<div class="row">
    <h4 class="center-align">Bienvenido a CINELAM</h4>
</div>
<div class="row">
    <h5>Peliculas</h5>
</div>
<div class="divider">
</div>
<div class="row">
    @foreach (var peli in peliculas)
    {
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image" style="height: 400px; overflow: hidden;">
                    <img src="@obtenerImagen(peli.Imagen)">
                    <span class="card-title">@peli.Nombre</span>
                </div>
                <div class="card-content">
                    <p><b>Descripcion: </b> <span>@peli.Descripcion</span></p>
                    <p><b>Genero: </b>@peli.Genero.Nombre</p>
                    <p><b>Clasificacion: </b>@peli.Calificacione.Nombre</p>
                </div>
                <div class="card-action">
                    <a class="green-text text-darken-2" href="/Pelicula/Reservar?id=@peli.IdPelicula">Reservar</a>
                </div>
            </div>
        </div>
    }
</div>