@model proyecto.cineMVC.Models.SedeModel
@{
    ViewBag.Title = "nuevaSede";
    Layout = "~/Views/Shared/_LayoutAdministrar.cshtml";
}

<div class="row">
    <h4 class="center-align">Agregar nueva sede</h4>
</div>

<div class="row">
    <div class="col s12 m6 offset-m3">
        <form action="/Sedes/nuevaSede" class="col s12" method="Post">
                <div class="row">
                    <div class="input-field">
                        @Html.LabelFor(x => x.Nombre) @Html.TextBoxFor(x => x.Nombre)
                        @Html.ValidationMessageFor(x => x.Nombre)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        @Html.LabelFor(x => x.Direccion) @Html.TextBoxFor(x => x.Direccion)
                        @Html.ValidationMessageFor(x => x.Direccion)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <label for="PrecioGeneral">Precio general</label> @Html.TextBoxFor(x => x.PrecioGeneral)
                        @Html.ValidationMessageFor(x => x.PrecioGeneral)
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 offset-m2">
                        <button class="btn waves-effect waves-light blue darken-1" type="submit">
                            Agregar Sede
                            <i class="material-icons right">send</i>
                        </button>
                        @Html.Partial("~/Views/Shared/_Cancelar.cshtml")
                    </div>
                </div>
        </form>
    </div>
</div>

